@charset "UTF-8";
/* CSS Document */

.Inner-centerLayout
{
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
 
}

.Inner-LayoutInside
{
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
 background-color:#999;
}

#inner-Conten{
	min-height:100%;

	
	}

/*.centerLayout-inside {
  padding-bottom:-38px;
}*/


.webp #innertop  {
  margin:0 auto;
  /*background-color:#EDEDED;*/
  width: 1024px;
  height:200px;
  background:url(../images/inner-header-new-03.webp) no-repeat;
  /*background-image:url(../images/inner-header-new-02.png) no-repeat;*/
}

#boxinsd
{
	margin 20px auto;
	text-align:center;
	width:800px;
  background-color: #DFD6AA;
  opacity: 0.6;

}


#Display-box
{

  width:100%px;
  height: auto;
  background-color: #E2E2E2;
  border-radius: 6px;
  border: 1px dotted black;
  /*opacity: 0.5;*/
  padding:30px;
  margin-top:90px;
  font-size:12px;
  text-align:center;

}
#white-box
{
  width:1000px;
  height: auto;
  background-color:#EDEDED;
  /*border: 1px dotted black;
  opacity: 0.5;*/
  color:#333;
  font-size:12px;
  text-align: center;
  padding-bottom:50px;
  padding-top:50px;

}
#white-boxInside
{
  width:100%;
  height:auto;
  background-color:#EDEDED;
  /*border: 1px dotted black;
  opacity: 0.5;*/
  color:#333;
  font-size:12px;
  text-align: center;
  padding-bottom:50px;
  padding-top:50px;

}

.webp #Views-BG 
{
  width:100%;
  height:auto;
  background:url(../images/editor-001.webp) no-repeat fixed;
  /*background-color:#EDEDED;
  border: 1px dotted black;
  opacity: 0.5;*/
  color:#333;
  font-size:12px;
  text-align: center;
  padding-bottom:50px;
  padding-top:50px;
}

#white-boxTitle
{
  width:100%;
  height: auto;
 /* background-color:#EDEDED;*/
  background-color:#999;
  /*border: 1px dotted black;
  opacity: 0.5;*/
  color:#FFF;
  text-align: center;
}
 /* end body area */

.floating-box {
    float: left;
    width: 150px;
    height: 30px;
    margin: 10px;
    border: 3px solid #73AD21;  
}
.overflow {
    background-color: #eee;
    width: 200px;
    height: 100px;
    border: 1px dotted black;
    overflow: visible;
}

.webp .left-colLogo {
    float: left;
	text-align: center;
	width: 85px;
	height: 100px;
	background-color:#fff;
	text-align:center;

	background-position:center;
	background-image:url(../images/RKM-logo.webp)
}
.center-col-MainNav {
    float: left;
    width: 50%;
	margin-left:20px;
	text-align:left;
	padding-top:70px;
	text-transform:uppercase;
	color:
}
.right-col-ScialNav {
    float: left;
    width: 25%;
}

/* social media icons */
 


/* Resets default styling */
.social-media-icons {
    list-style: none;
	float: left;
	padding-right:40px;
	padding-top:10px;
	margin:opx;
    padding: 0;
}

/* Displays the list-items in a row */
.social-media-icons li {
    display: inline-block;
}

#Inner-socialMedia{
	padding-top:5px;
	margin-top:0px;
	margin-right:10px;
	float:right;
	width:157px;
	height:26px;
}
	

.InsideTitle {
	font-family: "Times New Roman", Times, serif;
	/*font-style:bold;*/
	font-weight:bold;
	font-size:56px;
    color: Black;
	padding-top:100px;
    text-shadow: 2px 2px 4px #9d9d9d;
	
}

#SubTitleDiv {
	float:left;
	width:auto;
	text-align:left;
	font-stretch: wider;
	font-size:12px;
	text-indent: 10px;
	margin-top:10px;
	font-weight:bold;
	}
#SearchPanel{
	clear:both;
	height: 80px;
	padding:10px;
	}
	
#search-layer{
	float:left;
	margin-top:20px;
	margin-left:185px;
	text-align:left;
	 width:auto; 
	 height: auto;
	
	}
#search-layerInsd{
	margin-top:5px;
	margin-left:5px;
	 width:350px; 
	 height: 10px;
	
	}	
	
	
.webp .SearchImg{
		height:123px;
		width:128px;
		background:url(../images/book_RKM-hover.webp) no-repeat;
}
	
#boxshadowSmll {
	float:left;
    position:absolute;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 4px;
    padding-bottom: 10px;
    background: white;
}

/* Make the image fit the box */
#boxshadowSmll img {
    width: 120px;
    border: 1px solid #8a4419;
    border-style: inset;
}

#Search, #dropDown{
	float:left;
	font-size:16px;
	color:#000;
	margin-top:2px;
	width:250px;
	height:32px;
	background-color: #FC0;
	border: 1px dotted black;
    opacity: 0.7;
	padding:5px 5px 5px 5px;
	border-radius: 4px;
    
	}

#dropDown{
	float:left;
	background-color: transparent;
	border: 0px dotted black;
	padding-left:5px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
	width:auto;    
}

.webp #SearchButton {
	float:left;
	background:url(../images/RKM-search-icon.webp) no-repeat;
	width:30px;
	height:32px;
	background-color:#000;
	margin-top:2px;
	margin-left:5px;
    border-radius: 4px;
	cursor:pointer;	
}
	
#Ad-space{
	float:left;
	text-align:justify;
	padding:20px 20px 20px 20px;
	height:200px;
	background-color:#999;
	width:100%;
	}
/*   Login-css start 
	section {
  width: 275px;
  background: #ecf0f1;
  padding: 0 30px 30px 30px;
  margin: 60px auto;
  text-align: center;
  border-radius: 5px;
}*/	



#sectionSbcrb, #sectionSearch, #SearchResult {
  width: 600px;
    background: #CAB28B;
  padding: 0px 30px 30px 30px;
  margin: 60px auto;
  text-align: center;
  border-radius: 5px;
box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}

#sectionSearch, #SearchResult
 {
  margin: 30px auto;
  padding-top:20px;
  width: 800px;
}

#SearchResult{
	margin-top:0px;
  background-color: #DFD6AA;
  opacity: 0.6;
  height:auto;
    border-radius: 6px;
  border: 1px dotted black;
  box-shadow:none;
}

.webp .LogoInner {
  display: block;
  position: relative;
  margin: 0 auto;
  top: -40px;
  height: 80px;
  width: 80px;
  background:url(../images/RKM-logo-002.webp) center center no-repeat, #f39c12;
  border-radius: 50%;
box-shadow: 1px 1px 2px rgba(0,0,0,.3);

}

input {
  width: 100%;
  background: #bdc3c7;
  border: none;
  height: 30px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  color: #7f8c8d;
}

input:focus {
  outline: none;
}

button, .subscrb, .Downld-btn {
  width: 100%;
  height: 30px;
  border: none;
 background: #d35400;
  color: #ecf0f1;
  font-weight: 100;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: all ease-in-out .2s;
  border-bottom: 3px solid #666;
}
.Downld-btn {
  float:right;
  width:100px;
  height: 40px;
  margin:10px 10px 10px 10px;
  padding:5px;
  font-weight:bold;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  background: #666;
}

.subscrb{
	width:440px;
}
.req {
  	margin:2px;
  	color: #C00;
	font-size:14px;
  }
  
 /* Subscribe page bg*/ 
  
.webp #subcrb-boxwrap, #search-boxwrap 
{
  width:100%;
  height:auto;
  background:url(../images/subscribe-bg1.webp) no-repeat fixed;
 /* background-color:#EDEDED;
  border: 1px dotted black;
  opacity: 0.5;*/
  color:#333;
  font-size:12px;
  text-align: center;
  padding-bottom:50px;
  padding-top:50px;

}

.webp #search-boxwrap 
{
  background:url(../images/e-book-bg.webp) no-repeat fixed;
}
.flt-left, .flt-big {
	width:200px;
	padding:10px;
	margin:20px;
	height:30px;
	background-color:#CCC;
  }
  
.flt-big {
	width:440px;
}

.webp #Flash-Btn {
	  width:40px;
	  height:40px;
	  background:url(../images/Flash-Player-Icon.webp) no-repeat;
	  float:right;
	  margin:10px 10px 10px 10px;
	  cursor:se-resize;
}